 /* font-family: 'Baloo Bhai 2', cursive;
font-family: 'Montserrat', sans-serif; */
.BLOCK6{
background-image:url(../png/block6.png);
background-size: cover;
border-bottom: #00889B 15px solid;
background-position: center center;
background-repeat: no-repeat;
}
#block6title{
font-family: 'Baloo Bhai 2', cursive;
font-size: 50px;
font-weight: 800;
font-style: normal;
text-align: left;
color: #FFFFFF;
}


#block6end{
    padding-top: 47%;
}