
<div class="BLOCK2"> <link rel='stylesheet' href="/css/block2.css"> 
    <div id="block2gradient1">
        <div id="pad">
            <div class="box">
                <div class="box1">
                    <h1>Adults</h1>
                    <p>over 18</p>
                    <div id="img1"></div>
                </div>
            
                <div class="box2">
                    <h1>Children</h1>
                    <p>2-18</p>
                    <div id="img2"></div>
                </div>

                <div class="box3">
                    <h1>Family</h1>
                    <p>mixed</p>
                    <div id="img3"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="block2gradient2">
        <div class="pad">
            <h1 id="texttitle">Relax under water</h1>
            <p id="text1">adults and children sessions</p>
            <p id="text2"><b> Lorem ipsum</b> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas</p>
            <p id="text3"> accumsan lacus vel facilisis.</p>
         </div>
    </div>
</div>
