<div class="BLOCK5"><link rel='stylesheet' href="/css/block5.css"> 
   
        <div id="block5middle">
    
            <div class="pad">
                <div class="qvadrabox">
                    <div class="qvadra">children`s<p>pool</p> </div>
                    <div class="qvadra">training <p>zone</p></div>
                    <div class="qvadra">thermal <p>waters</p></div>
                </div>
            </div> 
          
            
        </div>
    
    <div id="block5end"> 
        <div class="pad">
             <h1 id="block5title">facilities</h1>
             <div class="block5boxwrap">
                <div class="block5box"> <div id="item1"></div> <p id="name">showers</p></div>
                <div class="block5box" ><div id="item2"></div> <p id="name">changing
                rooms</p></div>
                <div class="block5box" ><div id="item3"></div> <p id="name">3 
                pool zones</p></div>
                <div class="block5box" ><div id="item4"></div> <p id="name">lounge area</p></div>
                <div class="block5box" ><div id="item5"></div> <p id="name">kids zones</p></div>
                <div class="block5box" ><div id="item6"></div> <p id="name">first aid
                responders</p></div>
            </div>
        </div>
    </div>
</div>