<div class="BLOCK7"><link rel='stylesheet' href="/css/block7.css"> 
    <div id="block7gradient"></div>  
    <div id="block7middle">
        <div class="pad">
            <div id="block7row">
                <div id="block7box1">
                    <h1 id="block7title">contact us</h1>
                    <p class="location" id="tel">+4 2328 29202</p>
                    <p class="location" id="mail">wistonswimpool@gmail.com</p>
                    <p class="location" id="adress">4th avenue, Wiston Swimming Pool</p>
                </div>
                <div id="block7box2"></div>
            </div>  
        </div>
    </div>
 
</div>
