<div class="BLOCK4"><link rel='stylesheet' href="/css/block4.css"> 
    <div id="block4middle">
        <div class="pad">

            <div class="block4box1">
                <h1 id="title3">amazing experience</h1>
                <p id="subtitle1">for begginers and professionals</p>
                <p id="block4text2"><b> Lorem ipsum</b> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas</p>
                <p id="block4text3"> accumsan lacus vel facilisis.</p>
            </div>
           

        </div>
    </div>
    <div class="pad">
         <div class="block4box2">
            <h1 id="block3title">about us</h1>
            <p id="block3text">wiston swimming pool facilities</p>
             <p id="block4text4">Lorem ipsumdolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
        </div> 
    </div>
</div>