<div class="BLOCK3"> <link rel='stylesheet' href="/css/block3.css">        
    <div id="block3gradient1"></div>
    <div id="block3middle">

        <div class="pad">

            <div class="block3box">
                <div id="block3title">meet our trainers</div>
                <div id="block3text">the best swimming teachers</div>
            </div>

            <div class="circlebox"> 
                <div class="circlewrap">
                        <div class="circle"> <p class="circletitle">Dan</p> </div> 
                        <p class="circlesubtitle">fitness instructor</p>
                </div>
                <div class="circlewrap">
                         <div class="circle"><p class="circletitle">Sandra</p></div>
                         <p class="circlesubtitle">children instructor</p>
                </div>
                <div class="circlewrap">
                    <div class="circle"><p class="circletitle">Cam</p> </div>
                    <p class="circlesubtitle">adults instructor</p>
                </div>
             </div>
        </div>
    </div> 
    <div id="block3gradient2"></div>
</div>







    

