<header>
    <link rel='stylesheet' href="/css/header.css"> 
  

  <div class="headwrapper" >

    <div class="logo"><a href="/">W</a></div>

    <div class="menu-list"> 
        <nav>
           <ul>
    <li class="item"> <a href="/">trainers</a></li>
    <li class="item"> <a href="/">about us</a></li>
    <li class="item"> <a href="/">location</a></li>
    <li class="item"> <a href="/">contact</a></li>
 </ul>
</nav>
</div>

</div>


</header>


   